<html>
	<head>
		<title>taskB</title>
	</head>
	<body>
		<form method="post">
			<label for="first">first</label>
			<input id="fisrt" name="first" type="text" />
			<label for="second">second</label>
			<input id="sedcond" name="second" type="text" />
			<label for="third">third</label>
			<input id="third" name="third" type="text" />
			<input type="submit" value="submit" />
		</form>
	</body>
</html>