<html>
	<head>
		<title>jsondata</title>
	</head>
	<body>
		<table>
			<tr>
				<th>firstNumber</th>
				<td>
					<%= first %>
				</td>
			</tr>
			<tr>
				<th>secondNumber</th>
				<td>
					<%= second %>
				</td>
			</tr>
			<tr>
				<th>thirdNumber</th>
				<td>
					<%= third %>
				</td>
			</tr>
		</table>
	</body>
</html>